    body {
            background-size: cover;
            font-family: sans-serif;
         } 

    #passport {
        
            height: 200px;
            width: 200px;
                

    }